/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * GanzSchonClever implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * ganzschonclever.css
 *
 * GanzSchonClever stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.

    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (ganzschonclever_ganzschonclever.tpl), and to HTML elements you create dynamically
    (in ganzschonclever.js).

    Usually, you are using CSS to:

    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can
        display these images correctly (see example below).

    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.


     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#player-sheet {
    width: 526px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('img/player-sheet-modified-shrunk.jpg');
 }

 #dice-selection-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
 }

.dice-selection-half {
   flex: 1;
}

.dice-selection-half:first-child {
    margin-right: 10px;
 }

 #silver-platter {
    width: 100%;
    height: 290px;
    background-image: url('img/plate-modified.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 }

.die-placeholder-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 283px;
}

#silver-platter .die-placeholder-container {
    padding-top: 73px;
    height: 143px;
}

#dice-rolling-area {
    height: 180px;
}
#dice-rolling-area .die-placeholder-container {
    padding-top: 10px;
    height: 143px;
}

#active-plater-selection {
    height: 100px;
}
#active-plater-selection .die-placeholder-container {
    padding-top: 10px;
}

.die-placeholder {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.die {
    width: 64px;
    height: 64px;
    position: absolute;
    background-image: url('img/dice.png');
}

.die-color-white {}
.die-color-red { background-position-y: -64px; }
.die-color-orange { background-position-y: -128px; }
.die-color-yellow { background-position-y: -192px; }
.die-color-green { background-position-y: -256px; }
.die-color-blue { background-position-y: -320px; }
.die-color-purple { background-position-y: -384px; }

.die-face-1 {}
.die-face-2 { background-position-x: -64px;}
.die-face-3 { background-position-x: -128px;}
.die-face-4 { background-position-x: -192px;}
.die-face-5 { background-position-x: -256px;}
.die-face-6 { background-position-x: -320px;}

.die.selectable {
    cursor: pointer;
}